body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
    color: #282828;
}

header {
    background-color: #282828;
    color: whitesmoke;
}


ul {
    padding: 15px;
    list-style: none;
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

li {
    cursor: pointer;
}

.align-right {
    margin-left: auto;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    
}

.icon {
    width: 25px;
}

h1 {
     font-size: 40px;
     font-weight: 400;
     margin: 30px 25px;
}

.caption {
    margin: 0px 25px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.item-img {
    width: 100%;
    display: block;
}

.item {
    position: relative;
}

.img-banner {
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    
    position: absolute;
    top: 0;
    left: 0;
}

button {
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    
    align-self: center;

}

.chatbox-bg {
        position: fixed;
        bottom: 6px;
        right: 6px;
        background-color: #dda15e;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 1px 1px 5px #999;
        display: flex;
        
    }
.chatbox-img {
        margin: auto;
        width: 50%; 
    }